<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>To do list</title>
  </head>
  <body>
    <h1> <%= kindOfDay %> </h1>
    <ul>
<<<<<<< HEAD
      <% for( var i=0; i< newListItem.length;i++){ %>
        <li><%= newListItem[i] %></li>
      <%} %>
=======
      <li>Buy food</li>
      <li>Cook food</li>
      <li>Eat food</li>
>>>>>>> b5fe894a9bd42cd9238cf2ce31d3b5d373032654
    </ul>
    <form action="/" method="post">
        <input type="text" name="newItem">
        <button type="submit" name="button">Add</button>
    </form>
  </body>
</html>
